.error-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 260px
}

.error-title {
  text-align: center;
  font-weight: 600;
  font-size: 18px
}

.error-text {
  text-align: center;
  color: gray;
  margin-bottom: 30px;

}

.error-icon {
	text-align: center;
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
	width: 120px;
}

.action-button {
  margin: 0 auto;
  display: block;
  width: 100%;
}
