
<div class="setting-container">
  <div>
    <p class="setting-title">{{"SETTINGS.LANGUAGE.LANGUAGE_OPTION_TITLE" | translate}}</p>
    <p class="setting-description">{{"SETTINGS.LANGUAGE.LANGUAGE_OPTION_SUBTITLE" | translate}}</p>
  </div>
  <mat-form-field appearance="outline">
    <mat-select #selLang (selectionChange)="translateLanguageTo(selLang.value)" [value]=appLanguage>
      <mat-option value="auto">{{"SETTINGS.LANGUAGE.LANGUAGES_LIST.AUTO" | translate}}</mat-option>
      <mat-option value="es">{{"SETTINGS.LANGUAGE.LANGUAGES_LIST.SPANISH" | translate}}</mat-option>
      <mat-option value="en">{{"SETTINGS.LANGUAGE.LANGUAGES_LIST.ENGLISH" | translate}}</mat-option>
      <mat-option value="fr">{{"SETTINGS.LANGUAGE.LANGUAGES_LIST.FRENCH" | translate}}</mat-option>
      <mat-option value="pr">{{"SETTINGS.LANGUAGE.LANGUAGES_LIST.PORTUGAL" | translate}}</mat-option>
      <mat-option value="ge">{{"SETTINGS.LANGUAGE.LANGUAGES_LIST.GERMANY" | translate}}</mat-option>
      <mat-option value="it">{{"SETTINGS.LANGUAGE.LANGUAGES_LIST.ITALIAN" | translate}}</mat-option>
      <mat-option value="jp">{{"SETTINGS.LANGUAGE.LANGUAGES_LIST.JAPANESE" | translate}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<mat-divider></mat-divider>