
<div class="setting-container">
  <div>
    <p class="setting-title">Idioma</p>
    <p class="setting-description">Elige tu idioma</p>
  </div>
  <mat-form-field appearance="outline">
    <mat-select value='español'>
      <mat-option value='español' selected>
        Español
      </mat-option>
      <mat-option value='español'>
        Inglés
      </mat-option>
      <mat-option value='español'>
        Alemán
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<mat-divider></mat-divider>