
<div class="setting-container">
  <div>
    <p class="setting-title">{{"SETTINGS.LANGUAGE.LANGUAGE_OPTION_TITLE" | translate}}</p>
    <p class="setting-description">{{"SETTINGS.LANGUAGE.LANGUAGE_OPTION_SUBTITLE" | translate}}</p>
  </div>
  <mat-form-field appearance="outline">
    <mat-select #selLang (selectionChange)="translateLanguageTo(selLang.value)" value='es'>
      <mat-option *ngFor="let language of translate.getLangs()" [value]="language">{{ language }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<mat-divider></mat-divider>