<div class="home-container">
	<div class="list-prices">
		<div class="home-section home-tips">
			<app-home-tips></app-home-tips>
		</div>

		<div class="home-section">
			<h2 class="home-section-title">{{ 'HOME.PRICES_LIST.TITLE' | translate }}</h2>
			<app-home-price-lists-buttons [priceListButtons]="priceListButtons"></app-home-price-lists-buttons>
			<app-services-categories-page class="turist-services-list" [showBackTitle]="false" ></app-services-categories-page>
		</div>
	</div>

	<!-- Widgets -->
	<div class="widgets">
		<app-home-card-body [homeCardTitle]=homeWidgetsTitle[0].text class="app-home-card">
			<app-home-currency-exchange homeCardContent></app-home-currency-exchange>
		</app-home-card-body>
		<app-home-card-body homeCardTitle="Clima" class="app-home-card">
			<app-home-weather homeCardContent></app-home-weather>
		</app-home-card-body>
	</div>
</div>