.toolbar-body {
	display: flex;
	align-items: center;
	width: 96%;
	height: 46px;
	border-radius: 30px;
	position: fixed;
	background: white;
	top: 8px;
	transform: translate(calc(50vw - 50%));
	padding: 0px 8px;
	box-sizing: border-box;

	.left-side {
		display: inherit;
		gap: 6px;
		width: 100%;

		.brand-logo{
			width: 36px;
		}

		input {
			width: 100%;
			border: none;
		}
	}

	.right-side {
		display: flex;
	}
}