<div class="toolbar-body mat-elevation-z4">

  <div class="left-side">
    <img src="../../../../assets/brand-logo.svg" class="brand-logo">
    <input type="text" name="" placeholder="Buscar productos y servicios">
  </div>

  <div class="center-side">
  </div>

  <div class="right-side">
    <button mat-icon-button matTooltip="Notificaciones">
      <mat-icon>notifications</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Más opciones">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>

</div>
