.title-link, .title, .mat-card{
	background-color: transparent;
	text-decoration: none;
	box-shadow: none;
	margin:8px 0;
	font-size: 12px;
	width: 	100%;
	display: flex;
	align-items: center;
	padding:0;
}

.pictures{
	display: flex;
	width: 100%;
	gap: 6px;
	overflow: auto;
}

.picture {
	max-width: 	100px;
	min-width: 	100px;
	aspect-ratio: 1;
	object-fit: cover;
}

.see-more-link {
    padding: 28px 0px;
    text-align: center;
    height: 100px;
    min-width: 100px;
    max-width: 100px;
    display: block;
    box-sizing: border-box;
    background-color: gray;
    color: white;
    text-decoration: none;
}

.icon-small{
	height: 20px;
	width: 20px;
	font-size: 20px;
}
