<a [routerLink]="['/services/museum', exhibitions[0].museum_id,'exhibitions']" *ngIf="exhibitions.length > 0; else no_link" class="title-link mat-card ">
	Exhibiciones
	<mat-icon class="icon-small">chevron_right</mat-icon>
</a>

<div *ngIf="exhibitions.length > 0; else no_exhibitions" class="pictures">
	<img class="picture" *ngFor="let exhibition of exhibitions" [src]=exhibition.image>
	<a [routerLink]="['/services/museum', exhibitions[0].museum_id,'exhibitions']" *ngIf="exhibitions.length > 2" class="see-more-link">Ver todas <br> <mat-icon>arrow_forward</mat-icon> </a>
</div>

<ng-template #no_exhibitions>
	<p style="text-align: center;">Este museo no tiene exhibiciones</p>
</ng-template>

<ng-template #no_link>
	<p class="title">Exhibiciones</p>
</ng-template>