<form class="wrapper" [formGroup]="feedbackForm" (ngSubmit)="submitFeedbackForm({'isAccept': false})" *ngIf="!isShowingConfirmWrapper">
  <div class="dialog-header">
    <button mat-icon-button mat-dialog-close class="close-dialog">
      <mat-icon>close</mat-icon>
    </button>
    <h2 class="dialog-title">{{"FEEDBACK.DIALOG_TITLE" | translate}}</h2>
  </div>
  <div  class="dialog-content">
    <div *ngFor="let question of questions" class="question">
      <p class="question-title">{{question.question}}</p>
      <app-star-rating [formControlName]="question.name" [questionName]="question.name"></app-star-rating>
    </div>
    <div class="question">
      <p class="question-title">{{"FEEDBACK.QUESTIONS.MORE_DETAILS" | translate}}</p>
      <mat-form-field class="question-textarea" appearance="outline">
        <textarea formControlName="textarea" matInput rows="6"></textarea>
      </mat-form-field>
    </div>
  </div>
  <div class="feedback-button-background mat-card" style="box-shadow: none;">
    <button [disabled]="isLoadingData" type="submit" mat-raised-button color="primary" class="feedback-submit-button">
      <span *ngIf="!isLoadingData">{{"MISC.SUBMIT_ACTION_TEXT" | translate}}</span>
      <mat-spinner *ngIf="isLoadingData" diameter="24" style="margin: 0 auto"></mat-spinner>
    </button>
  </div>

</form>

<app-feedback-dialog-confirm [message]="confirmMessage" [icon]="confirmIcon" [isConfirmDialog]="isConfirmDialog" (updateLocationPermission)="submitFeedbackForm($event)" *ngIf="isShowingConfirmWrapper"></app-feedback-dialog-confirm>