.dialog-header{
	display: flex;
	height: 52px;
}

.dialog-title{
	margin: 4px 0px 16px 0px;
}

.feedback-button-background{
	width: 100%;
	position: fixed;
	bottom: 0px;
	box-sizing: border-box;
	left: 0;
	padding: 12px 24px 24px 24px;
	height: 72px;
}

.feedback-submit-button{
	
	width: 100%;
}

.dialog-content{
	height: 100%;
	overflow: auto;
	padding: 0 0 72px 0; 
}

.wrapper{
	display: flex;
	flex-direction: column;
	height: 100%
}

.question {
	margin-bottom: 24px;
}

.question-title{
	margin-bottom: 6px;
}

.question-textarea{
	width: 100%;

	textarea{
		resize: none;
	}
}

@media(min-width: 600px){
	.feedback-button-background{
		position: static;
		padding: 0;
		height: 56px;
	}

	.dialog-content{
		padding: 0 ; 
	}
}