.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 224px 0 56px 0;
  z-index: 0;
}

.map-container-placeholder {
  position: fixed;
  top: 0;
  left: 0;
  padding: 56px 0 0 320px;
  box-sizing: border-box;
  z-index: -1;
  width: 100%;
  height: 100%;
  color: white;
}

.placeholder-map{
  width: 100%;
  object-fit: cover;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.placeholder-icon {
  margin: 60px auto 0 auto;
  font-size: 52px;
  display: block;
  width: 52px;
  height: 52px;
}

.placeholder-text {
  text-align: center;
  margin: 24px auto;
  max-width: 530px;
  padding: 0 24px;
  font-size: 18px;
  line-height: 24px;
}

.select-place-title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 24px;
}

.select-place-subtitle {
  color: gray;
  margin-bottom: 6px;
}

.select-place-name-icon {
  display: flex;
  margin-bottom: 12px;
  gap: 6px;
  align-items: center;
}

.select-place-name {
  margin: 0;
}

.action-buttons {
  display: flex;
  gap: 12px;
  button {
  width: 100%;
  }
}

.error-container {
  min-width: 260px
}

.taxi-title {
  text-align: center;
  font-weight: 600;
  font-size: 18px
}

.taxi-text {
  text-align: center;
  color: gray;
  margin-bottom: 30px;

}

.taxi-icon {
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  width: 120px;
}

.taxi-price-text{
  color: var(--toursapp-primary-app);
}

@media(min-width: 600px) {
  .map-container {
    margin: 56px 0 0 320px;
  }

  .taxi-price-calculator-container{
    display: block;
    width: 296px;
  }
}