<span class="location-text">
    <mat-icon>pin_drop</mat-icon>
    Cartagena de indias
</span>
<div class="weather-info">
    <mat-icon>sunny</mat-icon>
    <div class="weather-right">
    <p class="weather">
        35°
    </p>
    <p>soleado</p>
</div>
<ul class="weather-week-list">
    <li class="weather-day-line">
        <div class="left-side">
            <p>Mañana</p> <p>Jue 12</p>

        </div>
        <div class="right-side">
            <mat-icon>cloud</mat-icon> <p>12°</p>

        </div>
    </li>
</ul>
</div>