<mat-nav-list>
  <a mat-list-item routerLink='/settings/appearance'>
    <mat-icon matListIcon>palette</mat-icon>
    <p mat-line>Apariencia</p>
      <mat-divider></mat-divider>
  </a>

  <a mat-list-item routerLink='/settings/language'>
    <mat-icon matListIcon>translate</mat-icon>
    <p mat-line>{{"SETTINGS.LANGUAGE.TITLE" | translate}}</p>
      <mat-divider></mat-divider>
  </a>

  <a mat-list-item routerLink='/settings/about'>
    <mat-icon matListIcon>info</mat-icon>
    <p mat-line>{{"SETTINGS.ABOUT.TITLE" | translate}}</p>
      <mat-divider></mat-divider>
  </a>
</mat-nav-list>
