.button-body {
	display: flex;
	flex-direction: column;
	margin: auto;
	align-items: center;
	background-color: unset;
	border: unset;
	height: 100%;
	justify-content: center;
	text-decoration: none;

}

.button-body-active{
	color: var(--toursapp-primary-app);
}