.list-item-body {
	display: flex;
	height: 82px;
	padding: 6px;
	box-sizing: border-box;
	gap: 6px;
	text-decoration: none;
	margin-bottom: 12px;
	border-radius: 10px;

	.item-image {
		width: 70px;
		height: 70px;
		border-radius: 6px;
	}

	.item-data {
		display: inherit;
		justify-content: space-between;
		flex-direction: column;
		width: 100%;

		p, h3{
			margin: 0;
		}

		.row1-and-row2{
			.row-1 {
				font-weight: 500;
				line-height: 20px;
			}

			.row-2 {
				font-weight: 500;
				font-size: 12px;
				color: var(--toursapp-primary-app);
			}
		}

		.row-3 {
			font-size: 11px;
			text-align: right;
			color: gray;
			line-height: 12px;
		}
	}

}