.product-info-container {
	margin-top: 8px;
	display: flex;
	flex-direction: column;

	.product-image {
		width: 100%;
	    margin: 0 auto;
	    display: block;
	    margin-bottom: 20px;
	    box-sizing: border-box;
	    border-radius: 12px;
	}

	.product-data {
		margin-bottom: 36px;
		text-align: center;

		p {
			margin: 0;
		}

		.product-name {
			margin-bottom: 12px;
			font-weight: 600;
			font-size: 16px;
		}

		.product-price-container {
			gap: 6px;

			.info-text {
				color: gray;
				font-size: 12px;
			}

			.product-price {
				color: var(--toursapp-primary-app);
				font-size: 14px;
				font-weight: 500;
			}
		}

		

	}
}