.product-info-container {
	margin-top: 8px;
	display: flex;
	flex-direction: column;

	

	.product-data {
		margin-bottom: 12px;
		p {
			margin: 0;
		}

		.product-name {
			margin-bottom: 20px;
			font-weight: 500;
			font-size: 16px;
		}		

	}
}

@media(min-width: 600px){
	.product-data {
		margin-bottom: 36px;
	}
}

@media(min-width: 850px){
	.prices-list{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		max-width: 480px;
	}
}