
    .wrapper     {
        display: flex;
        flex-direction: column;
    }

@media (min-width: 600px) {
    .wrapper     {
        max-width: 1150px;
        flex-direction: row  ;
        justify-content: center;
        gap: 24px;
        margin: 0 auto;
    }

    .image-side {
        width: 500px;
    }

    .details-side {
        min-width: 250px;
        width: 600px;
        max-width: 490px;
        margin: 0 0 0 auto;
    }

}