<app-back-title-button [viewTitle]="pageTitle"></app-back-title-button>
<div *ngIf="!isError" class="wrapper">
    <div class="top-info">
        <app-tour-details-picture class="image-side" *skeleton="isLoading; height: '260px'; repeat: 1; width: '100%';" imageUrl="route" ></app-tour-details-picture>
        <div class="details-side">
            <app-tour-details-heading *skeleton="isLoading; height: '190px'; repeat: 1; width: '100%';" [name]="tour.name" [type]="tour.type" [description]="tour.description"></app-tour-details-heading>
            <app-details-separator *skeleton="isLoading; height: '20px'; repeat: 1; width: '60px';" [title]="separatorText[0].text"></app-details-separator>
            <app-tour-details-price *skeleton="isLoading; height: '20px'; repeat: 1; width: '110px';" [price]="tour.price"></app-tour-details-price>
            <app-details-separator *skeleton="isLoading; height: '20px'; repeat: 1; width: '60px';" [title]="separatorText[2].text"></app-details-separator>
            <app-tour-details-places *skeleton="isLoading; height: '120px'; repeat: 1; width: '100%';" [places]="tour.places"></app-tour-details-places>
        </div>   
    </div>
    <div class="bottom-info">
        <app-details-separator *skeleton="isLoading; height: '20px'; repeat: 1; width: '60px';" title="Recorrido"></app-details-separator>
        <app-tour-details-route class="image-side" *skeleton="isLoading; height: '260px'; repeat: 1; width: '100%';" [route]="route" ></app-tour-details-route>
    </div>
     
</div>
<app-error-message (reload)="getTour()" *ngIf="isError"></app-error-message>
