<h1 mat-dialog-title style="font-weight: 500;">{{"TOURIST_PRODUCTS.DETAILS.PRODUCT_PRICE_DIALOG_TITLE" | translate}}</h1>
<div mat-dialog-content>
	<p>{{"TOURIST_PRODUCTS.DETAILS.PRODUCT_PRICE_DIALOG_BODY_TEXT" | translate}}</p>
	<mat-form-field appearance="outline" style="width: 100%;">
		<mat-label>{{"TOURIST_PRODUCTS.DETAILS.PRODUCT_PRICE_DIALOG_INPUT_TEXT" | translate}}</mat-label>
		<input matInput>
	</mat-form-field>
</div>
<div mat-dialog-actions style="justify-content: end;">
	<button mat-button>{{"MISC.CANCEL_ACTION_TEXT"  | translate}}</button>
	<button mat-raised-button color="primary">{{"MISC.SUBMIT_ACTION_TEXT"  | translate}}</button>
</div>