<app-back-title-button viewTitle="Detalles del producto"></app-back-title-button>
<div *ngIf="!isError" class="product-image-details">
	<app-product-image class="image-side" *skeleton="isLoading; height: '300px'; width: '100%';" [imageURL]="product.imageURL"></app-product-image>
	<div class="details-side">
		<app-product-info *skeleton="isLoading; height: '38px'; repeat: 2; width: '100%'; repeat: 3" [name]="product.name" [prices]="product.prices" class="page-component"></app-product-info>
		<app-product-alt-prices-button *skeleton="isLoading; height: '52px'; width: '100%'; repeat: 2" class="page-component"></app-product-alt-prices-button>	
	</div>
</div>
<app-error-message (reload)="getProductInfo()" *ngIf="isError"></app-error-message>