.icon-small{
	height: 16px;
	width: 16px;
	font-size: 16px;
}

.title-and-rating{
	display: flex;
	.food-name{
		width: 100%;
		max-height: 64px;
		text-overflow: ellipsis;
		overflow: hidden;
		margin: 0;
		line-height: 25px
	}

	.food-rate {
		width: 112px;
		margin-top: 4px;
		display: none;
	}
}

.food-location, .food-distance{
	font-size: 12px;
	display: none;
}

.food-description {
	margin: 6px 0;
}