<mat-radio-group (change)="onChangeAnswer()" [(ngModel)]="answer" [name]="questionName">
    <mat-radio-button color="primary" class="radio-button" value="1">1</mat-radio-button>
    <mat-radio-button color="primary" class="radio-button" value="2">2</mat-radio-button>
    <mat-radio-button color="primary" class="radio-button" value="3">3</mat-radio-button>
    <mat-radio-button color="primary" class="radio-button" value="4">4</mat-radio-button>
    <mat-radio-button color="primary" class="radio-button" value="5">5</mat-radio-button>
</mat-radio-group>