

p, label {
	margin-bottom: 6px;
	display: block;
}

.currency-quantity {
	font-size: 26px;
	font-weight: 500;
	margin-bottom: 16px;
}

.separator {
	display: flex;
	align-items: center;
	margin-bottom: 16px;

	.line {
		position: inherit;
		width: 100%;
	}

	p {
		font-size: 36px;
		margin: 0;
		width: 100px;
		text-align: center;
	}
}

.updated-at-text{
	text-align: right;
	color: gray;
	margin-bottom: 0px;
	opacity: 0;
}