<app-back-title-button viewTitle="Informacion de la playa"></app-back-title-button>
<div *ngIf="!isError" class="wrapper">
    <app-beach-image-details class="image-side" *skeleton="isLoading; height: '320px'; repeat: 1; width: '100%';" [imageUrl]="beach.imageUrl"></app-beach-image-details>
    <div class="details-side">
        <app-beach-top-details *skeleton="isLoading; height: '35px'; repeat: 1; width: '100%';" [name]="beach.name" ></app-beach-top-details>
        <app-details-separator *skeleton="isLoading; height: '20px'; repeat: 1; width: '60px';" [title]="separatorTexts[0].text"></app-details-separator>
        <app-beach-schedule-details *skeleton="isLoading; height: '20px'; repeat: 1; width: '150px';" [schedule]="beach.hours"></app-beach-schedule-details>
        <app-details-separator *skeleton="isLoading; height: '20px'; repeat: 1; width: '60px';" [title]="separatorTexts[1].text"></app-details-separator>
        <app-beach-services-details *skeleton="isLoading; height: '20px'; repeat: 6; width: '190px';" [tent]="beach.services.tent" [chairs]="beach.services.chairs" [massage]="beach.services.massage" [braids]="beach.services.braids" [jetsky]="beach.services.jetsky" [worm]="beach.services.worm" [boatDish]="beach.services.boatDish"></app-beach-services-details>
        <app-details-separator *skeleton="isLoading; height: '20px'; repeat: 1; width: '60px';" [title]="separatorTexts[2].text"></app-details-separator>
        <app-beach-location-details *skeleton="isLoading; height: '190px'; repeat: 1; width: '60px';" [locationPictureUrl]="beach.location.imgUrl"></app-beach-location-details>
    </div>
</div>
<app-error-message (reload)="getBeach()" *ngIf="isError"></app-error-message>