.dialog-content{
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: auto;
	padding: 0 0 72px 0;
}

.permission-icon{
	width: 250px;
	height: 250px;
	display: block;
	margin: 0 auto 32px auto;
}

.permission-text{
	text-align: center;
}

.permission-buttons{
	display: flex;
	width: 100%;
	gap: 12px;
	box-shadow: none;
	position: fixed;
	bottom: 0px;
	box-sizing: border-box;
	left: 0;
	padding: 12px 24px 24px 24px;
	height: 72px;
}

.permission-button{
	width: 100%
}

.wrapper{
	display: flex;
	flex-direction: column;
	height: 100%
}

.dialog-header{
	display: flex;
	height: 52px;
}

.dialog-title{
	margin: 4px 0px 16px 0px;
}

@media(min-width: 600px){
	.permission-buttons{
		position: static;
		padding: 0;
		height: 56px;
		align-items: flex-start;
	}

	.dialog-content{
		padding: 0 ; 
	}
}