.dialog-content{
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: auto;
}

.permission-icon{
	width: 250px;
	height: 250px;
	display: block;
	margin: 0 auto 32px auto;
}

.permission-text{
	text-align: center;
}

.permission-button{
	width: 100%
}

.permission-buttons{
	display: flex;
	width: 100%;
	gap: 12px;
	height: 36px;
}

.wrapper{
	display: flex;
	flex-direction: column;
	height: 100%
}

.dialog-header{
	display: flex;
	height: 52px;
}

.dialog-title{
	margin: 4px 0px 16px 0px;
}