<app-back-title-button [viewTitle]=pageTitle></app-back-title-button>
<div *ngIf="!isError" class="wrapper">
	<div class="top-info">
		<app-food-details-picture class="image-side" *skeleton="isLoading; height: '225px'; width: '100%';" [imageUrl]=food.imgURL></app-food-details-picture>
		<div class="details-side">
			<app-food-top-details *skeleton="isLoading; height: '100px'; width: '100%';" [name]=food.name></app-food-top-details>
			<app-details-separator *skeleton="isLoading; height: '20px'; width: '60px';" [title]=separatorTitles[0].text></app-details-separator>
            <app-details-price-text *ngFor="let price of food.prices" [title]="price.name" [text]="price.amount"></app-details-price-text>
			<app-set-price-button *skeleton="isLoading; height: '20px'; repeat: 1; width: '110px';"></app-set-price-button>
		</div>
	</div>
	<div class="bottom-info">
	</div>
</div>
<app-error-message (reload)="getFood()" *ngIf="isError"></app-error-message>