.home-button{
    height: 80px;
    display: flex;
    flex-direction: column;
    border-radius: 18px;
    align-items: flex-start;
    justify-content: center;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

span {
    display: block;
}

.icon {
    display: block;
}

.text {
    height: 25px; 
}