<app-back-title-button [viewTitle]="pageTitle"></app-back-title-button>
<div *ngIf="!isError[0] && !isError[1]">
	<app-museum-header-details *skeleton="isLoading[0] || isLoading[1]; height: ''; repeat: 1; width: '100%';" [name]=museum.name [rate]=museum.rating [location]=museum.location [distance]=museum.distance [description]=loremDescription></app-museum-header-details>
	<app-museum-picture *skeleton="isLoading[0] || isLoading[1]; height: '200px'; repeat: 1; width: '100%';" [imageUrl]=museum.imageUrl></app-museum-picture>
	<app-museum-info-line *skeleton="isLoading[0] || isLoading[1]; height: '60px'; repeat: 1; width: '100%';" [title]="separatorTitles[0].text" [info]=tempDate [isPrices]=false></app-museum-info-line>
	<app-museum-info-line *skeleton="isLoading[0] || isLoading[1]; height: '60px'; repeat: 1; width: '100%';" [title]="separatorTitles[1].text"  [info]=museum.adult_price [info2]=museum.child_price [isPrices]=true></app-museum-info-line>
	<app-museum-exhibitions-line *skeleton="isLoading[0] || isLoading[1]; height: '128px'; repeat: 1; width: '100%';" [exhibitions]=exhibitions></app-museum-exhibitions-line>
</div>
<app-error-message (reload)="getMuseumData()" *ngIf="isError[0] || isError[1]"></app-error-message>