<app-back-title-button [viewTitle]="pageTitle"></app-back-title-button>
<div *ngIf="!isError" class="wrapper">
	<app-museum-picture class="image-side" *skeleton="isLoading; height: '200px'; repeat: 1; width: '100%';" [imageUrl]=museum.imageUrl></app-museum-picture>
	<div class="details-side">
		<app-museum-header-details *skeleton="isLoading; height: ''; repeat: 1; width: '100%';" [name]=museum.name [rate]=museum.rating [location]=museum.location [distance]=museum.distance [description]=loremDescription></app-museum-header-details>
		<app-museum-info-line *skeleton="isLoading; height: '60px'; repeat: 1; width: '100%';" [title]="separatorTitles[0].text" [info]=tempDate [isPrices]=false></app-museum-info-line>
		<app-museum-info-line *skeleton="isLoading; height: '60px'; repeat: 1; width: '100%';" [title]="separatorTitles[1].text"  [info]=museum.adult_price [info2]=museum.child_price [isPrices]=true></app-museum-info-line>
	</div>
</div>
<app-error-message (reload)="getMuseumData()" *ngIf="isError"></app-error-message>