

.list-item-body{
	text-decoration: none;
	padding: 6px;
	display: flex;
	gap: 12px;
	border-radius: 12px;
	box-shadow: none;
	min-height: 74px;
	max-height: 74px;
	.museum-image{
		min-width: 117px;
		max-width: 117px;
		object-fit: cover;
		border-radius: 8px;
	}
	.museum-info{
		width: 100%;

		span{
			width: 100%;
			display: block;
		}

		.museum-name{
		margin: 0;
		height: 36px;
		overflow: hidden;
		text-overflow: ellipsis;
		font-weight: 500;
		}

		.museum-rate{
			display: none;
			height: 16px;
		}
	}
}

.icon-small{
	height: 16px;
	width: 16px;
	font-size: 16px;
}