.greeting-text{
	text-align: center;
	height: 56px;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tips-container {
	display: flex;
	align-items: center;
	gap: 6px;
	background-color: #fff9c4;
	padding: 8px;
	border-radius: 12px;
	height: 56px;
	box-sizing: border-box;
}

.lightbulb-icon {
	color: #c6a700;
	min-width: 24px;
}

.tips-text {
	text-align: center;
	margin: 0;
	color: #c6a700;
}