.wrapper {
	display: flex;
	margin-bottom: 12px;
	overflow: auto;
	gap: 6px;
}

.category-text {
	display: none;
	text-align: center;
	font-weight: 600;
}

@media(min-width: 600px){
	.wrapper {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.category-text {
		display: block;
	}
}